In [2]:
#from omdb import OMDBClient
import pandas as pd
import requests
import math
import json
import ast
import omdb

In [3]:
API_KEY = "e0a9acf2"
client = omdb.OMDBClient(apikey=API_KEY)
omdb.set_default('apikey', API_KEY)

I downloaded the title.basics.tsv.gz file made available on https://www.imdb.com/interfaces/.
This file contains the imdbid for all shows in imdbs database

In [4]:
df = pd.read_csv("imdb_data.tsv",sep='\t')

C:\Users\oyino\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.shape

(6710061, 9)

In [7]:
#get only tv shows
seriesdf=df[df['titleType'] == 'tvSeries']

In [8]:
seriesdf.shape

(181832, 9)

In [9]:
seriesdf=seriesdf.reset_index(drop=True)
seriesdf['data'] = ""

I am chosing to get the data from the api in parts to prevent getting error messages

In [13]:
seriesdf['data'][:20000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][:20000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
#start 19
seriesdf['data'][20000:40000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][20000:40000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
seriesdf['data'][40000:50000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][40000:50000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
seriesdf['data'][50000:60000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][50000:60000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
seriesdf['data'][60000:70000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][60000:70000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
#start 1935
seriesdf['data'][70000:80000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][70000:80000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [36]:
seriesdf['data'][80000:90000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][80000:90000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
seriesdf['data'][90000:100000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][90000:100000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [42]:
seriesdf['data'][100000:110000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][100000:110000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [45]:
seriesdf['data'][110000:120000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][110000:120000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
seriesdf['data'][120000:130000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][120000:130000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [51]:
seriesdf['data'][130000:140000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][130000:140000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [58]:
seriesdf['data'][140000:152533]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][140000:152533])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
seriesdf['data'][152534:160000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][152534:160000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
seriesdf['data'][160000:170000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][160000:170000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [72]:
seriesdf['data'][170000:180000]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][170000:180000])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [74]:
seriesdf['data'][180000:]=tuple(omdb.imdbid(x) for x in seriesdf['tconst'][180000:])

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [88]:
#drop this id because it always returned an error when called by the api
seriesdf=seriesdf.drop(152533)

In [92]:
#turn dictionary key into columns with the values as the cell entries
seriesdf=seriesdf['data'].apply(pd.Series)

In [106]:
seriesdf.head()

,title,year,rated,released,runtime,genre,director,writer,actors,plot,...,imdb_rating,imdb_votes,imdb_id,type,total_seasons,response,dvd,box_office,production,website
6,Kraft Theatre,1947–1958,N/A,07 May 1947,60 min,Drama,N/A,N/A,"Ed Herlihy, Vaughn Taylor, Valerie Cossart, E....",A well-received anthology series presenting li...,...,8.2,98,tt0039123,series,11.0,True,NaN,NaN,NaN,NaN
9,Actor's Studio,1948–1950,N/A,26 Sep 1948,30 min,Drama,N/A,N/A,Marc Connelly,Produced by the ABC as its television network ...,...,7.1,48,tt0040021,series,2.0,True,NaN,NaN,NaN,NaN
24,The Chevrolet Tele-Theatre,1948–1950,N/A,27 Sep 1948,30 min,Drama,N/A,N/A,"Guy Kibbee, Faye Emerson, John Conte, Vicki Cu...",This was an anthology series which aired live....,...,8.4,24,tt0040036,series,2.0,True,NaN,NaN,NaN,NaN
29,Texaco Star Theatre,1948–1956,N/A,08 Jun 1948,60 min,"Comedy, Family",N/A,N/A,"Milton Berle, Sid Stone",The Texaco Star Theatre was one of the most po...,...,7.7,70,tt0040041,series,8.0,True,NaN,NaN,NaN,NaN
30,The Morey Amsterdam Show,1948–1950,N/A,17 Dec 1948,30 min,"Comedy, Family, Music",N/A,N/A,"Morey Amsterdam, Art Carney, Johnny Guarnieri,...",The show had two venues. In December 1948 to M...,...,7.8,24,tt0040042,series,3.0,True,NaN,NaN,NaN,NaN

In [93]:
seriesdf=seriesdf[seriesdf['total_seasons']!='N/A']

In [94]:
seriesdf.shape

(101581, 29)

In [95]:
#string to numeric
seriesdf['total_seasons']=pd.to_numeric(seriesdf['total_seasons'])

In [96]:
seriesdf=seriesdf[seriesdf['total_seasons'] >= 2]

In [97]:
seriesdf.shape

(22899, 29)

In [ ]:
seriesdf['imdb_id'].describe()

Joining the dataset from the first notebook to the datset we got above

In [98]:
df1=pd.read_csv("total_season2_data.csv")

In [99]:
df1.imdb_id.describe()

count         12846
unique         5920
top       tt2279853
freq             10
Name: imdb_id, dtype: object

In [103]:
df1.drop_duplicates(subset ="imdb_id", 
                     keep = 'first', inplace = True)

In [104]:
seriesdf.drop(["series_id", "episode", "season"], axis=1, inplace=True)

In [105]:
seriesdf.shape

(22899, 26)

In [107]:
#join the two datasets
df=pd.concat([seriesdf, df1], ignore_index=True)

C:\Users\oyino\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [111]:
df.shape

(28819, 9)

In [110]:
df=df[['imdb_id', 'title','total_seasons', 'imdb_votes', 'year', 'runtime', 'genre', 'country', 'writer']].copy()

In [112]:
df.rename(columns={'imdb_id':'id'}, inplace=True)

In [113]:
df.drop_duplicates(subset ="id", 
                     keep = 'first', inplace = True)

In [117]:
df.shape

(22939, 9)

In [116]:
df.reset_index(inplace=True, drop=True)

In [118]:
df.to_csv("needed_info.csv", index=False)